/*구은모*/

.title {
  width: 101.6rem;
  margin: 3rcap;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.searchAndSort {
  width: 632px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.search {
  width: 44.8rem;
  height: 4.8rem;
  border: 0.1rem solid #747474;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
}

.icon-search {
  cursor: pointer;
  margin-right: 8px;
  vertical-align: middle;
}
#searchInput > img:hover {
  opacity: 0.5;
}

#searchInput {
  width: 22.8rem;
  border-color: #131313;
  font-size: 1.4rem;
}
